.App {
  text-align: center;
  height: 100vh;
  /* background: linear-gradient(
    180deg,
    #000000 0%,
    #190840 66.12%,
    #7862c2 119.98%
  ); */
}

.hero__text {
  background: -webkit-linear-gradient(180deg, #2cdaff, #0052ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
