@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=optional');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  background: #141416;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
